<h1>Burgers!</h1>

<h2>Create and eat virtual burgers...for free!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers you've eaten:</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/if}}
  {{/each}}
</ul>

<h2>Make a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>

  <button type="submit">Make Burger</button>
</form>
